$font-stack: "Questrial", sans-serif;
$primary-color: #333;
$primary-color-background: #16171b;

body {
  margin: 0;
  font-family: $font-stack;
  color: $primary-color;
  background-color: $primary-color-background;
}

#container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

