$font-stack: "Questrial", sans-serif;
$primary-color: #333;
$primary-color-background: #16171b;

body {
  margin: 0;
  font-family: $font-stack;
  color: $primary-color;
  background-color: $primary-color-background;
}

#container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
#container2 {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: center;
  padding-top: 20px;
  // display: grid;
  // grid-template-columns: auto auto;
  // grid-template-rows: 1fr;
  // gap: 10px 10px;
  // grid-template-areas: ". .";
  // width: 90%;
  // // color: $primary-color-font;
  background-color: #fff;
  // padding: 15px 15px 15px 15px;

  // align-items: center;
}
