// styling for the main line graph display 
#mainchart {
  display: grid;
  grid-template-columns: 98% 0% 0%;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-template-areas: ". . . ";
  width: 90%;
  color: #ffffff;
  background-color: #202125;
  opacity: 80%;
  border-radius: 2px;
  padding: 15px 15px 15px 15px;
}
// 
#log {
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  border-radius: 2px;
  color: red;
  padding: 15px 15px 15px 15px;
  background-color: #ffffff;
  overflow: scroll;
}
