#mainchart {
  display: grid;
  grid-template-columns: 65% 2% 30%;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-template-areas: ". . . ";
  width: 90%;
  color: #ffffff;
  background-color: #202125;
  opacity: 80%;
  border-radius: 2px;
  padding: 15px 15px 15px 15px;
}
#log {
  //width: 9;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  border-radius: 2px;
  color: red;
  padding: 15px 15px 15px 15px;
  height: 300px;
  background-color: #ffffff;
  overflow: scroll;
}

// #404 {
//   background-color: #ffffff;
//   height: 50px;
//   overflow: scroll;
// }
// #405 {
//   background-color: #ffffff;
//   height: 50px;
//   overflow: scroll;
// }
// #406 {
//   background-color: #ffffff;
//   height: 50px;
//   overflow: scroll;
// }
// #407 {
//   background-color: #ffffff;
//   height: 50px;
//   overflow: scroll;
// }
