$primary-color: #fff;
$primary-color-font: #6e6e6e;

nav {
  display: grid;
  grid-template-columns: min-content 1fr min-content min-content min-content;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-template-areas: ". . . . .";
  width: 90%;
  color: $primary-color-font;
  border-radius: 2px;
  align-items: center;
}
