  // styling for outer grid containg all the secondary charts
#subcharts {
  display: grid;
  grid-template-columns: 32.3% 1% 32.3% 1% 32.3%;
  grid-template-rows: 1fr;
  grid-template-areas: ". . . . . ";
  width: 93%;
  color: #ffffff;
  opacity: 80%;
  border-radius: 2px;
  margin-left: 1%;
}
// styling for div containing doughnut chart 
#chart1 {
  justify-content: center;
  border-radius: 2px;
  color: red;
  padding: 15px 15px 15px 15px;
  height: 300px;
  background-color: #202125;
  opacity: 80%;
}
// styling for div containing bar graph  
#chart2 {
  justify-content: center;
  border-radius: 2px;
  color: red;
  padding: 15px 15px 15px 15px;
  height: 300px;
  background-color: #202125;
  opacity: 80%;
}
// styling for div contaning radar chart
#chart3 {
  justify-content: center;
  border-radius: 2px;
  color: red;
  padding: 15px 15px 15px 15px;
  height: 300px;
  background-color: #202125;
  opacity: 80%;
}
