#subcharts {
  display: grid;
  grid-template-columns: 32.3% 1% 32.3% 1% 32.3%;
  grid-template-rows: 1fr;
  // gap: 5px 5px;
  grid-template-areas: ". . . . . ";
  width: 93%;
  color: #ffffff;
  opacity: 80%;
  border-radius: 2px;
  margin-left: 1%;
}
#chart1 {
  justify-content: center;
  border-radius: 2px;
  color: red;
  padding: 15px 15px 15px 15px;
  height: 300px;
  background-color: #202125;
  opacity: 80%;
}
#chart2 {
  justify-content: center;
  border-radius: 2px;
  color: red;
  padding: 15px 15px 15px 15px;
  height: 300px;
  background-color: #202125;
  opacity: 80%;
}
#chart3 {
  justify-content: center;
  border-radius: 2px;
  color: red;
  padding: 15px 15px 15px 15px;
  height: 300px;
  background-color: #202125;
  opacity: 80%;
}
